@use "../../helper/style/mixin";
@use "../../helper/style/media";

.component {
  display: grid;
  grid-row-gap: calc(var(--spacing-unit) * 5.5);
  justify-items: center;

  width: 100%;
  padding: calc(var(--spacing-unit) * 11.25) calc(var(--spacing-unit) * 10) calc(var(--spacing-unit) * 17.5);

  box-sizing: border-box;
}

.title {
  margin: 0;

  text-align: center;
}

.list {
  display: grid;
  grid-row-gap: 1rem;

  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  display: grid;
  justify-items: center;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;

  min-height: 4.375rem;
  min-width: 23.75rem;
  padding-left: 1rem;
  padding-right: 1.75rem;

  font-family: var(--primary-font);
  color: rgba(var(--primary-black), 1);
  font-size: 1.125rem;
  font-weight: var(--bold);

  border: 1px solid rgba(var(--primary-black), 0.1);
  border-radius: 3.0625rem;

  background-color: rgba(var(--primary-white), 1);

  transition-timing-function: linear;
  transition-property: border-color;
  transition-duration: 250ms;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 3.5rem;
  height: 100%;
}
