@use "../../../../helper/style/mixin";

.component {

  &:hover .dropdown {
    opacity: 1;
    visibility: visible;
  }
  

  &:hover .colored {
    opacity: 1;
  }
}

.toggle {
  display: grid;
  place-content: center;

  padding: 0;
  width: calc(19px + var(--spacing-unit) * 3);
  height: var(--header-height);

  border: 0;

  background-color: transparent;

  cursor: pointer;
}

.toggle svg {
  position: absolute;
  top: 50%;

  width: 19px;
  height: 19px;

  transform: translateY(-50%);
}

.colored {
  z-index: 1;

  opacity: 0;

  transition-timing-function: linear;
  transition-duration: 300ms;
  transition-property: opacity;
}

.dropdown {
  position: absolute;
  top: calc(100% + 5px);
  z-index: 2000;

  min-width: 12.5rem;

  box-sizing: border-box;

  border: 1px solid #e6e6e6;
  border-radius: 0.5rem;

  background-color: rgba(var(--primary-white), 1);

  opacity: 0;

  overflow: hidden;

  transition-timing-function: linear;
  transition-duration: 300ms;
  transition-property: visibility, opacity;

  visibility: hidden;
}

.animation {
  transform: translateY(0);
}

.visible {
  pointer-events: all;
  visibility: visible;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  width: 100%;
  padding: 0.75rem 1.25rem;

  box-sizing: border-box;

  font-family: var(--primary-font);
  font-size: var(--body-1);
  font-weight: var(--regular);
  color: rgba(var(--primary-black), 1);

  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: background-color;

  &:hover,
  &:focus {
    background-color: #ededed;
  }
}