.component {
  display: grid;
  grid-template-rows: auto 1fr;
  height: calc(var(--window-height) - var(--header-height));
  padding: 2rem;

  box-sizing: border-box;

  background-color: rgba(var(--primary-white), 1);
}

.list {
  display: grid;
  justify-content: start;
  grid-row-gap: 2rem;

  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  position: relative;
}
