@use "../../helper/style/mixin";
@use "../../helper/style/media";

.component {
  position: relative;
  display: flex;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
  > img{
    cursor: pointer;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-color: rgba(var(--primary-black), 0.1);
  }
}

.input {
  @include mixin.visuallyHidden();
}

.label {
  display: flex;  
  flex-direction: column;
  margin-left: 10px;
}

// .label::before {
//   position: relative;
//   content: "";
//   grid-area: icon;

//   width: 2.25rem;
//   height: 2.25rem;

//   border-radius: 50%;

//   background-color: rgba(var(--primary-black), 0.1);
//   background-image: var(--icon);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;

//   overflow: hidden;
// }
