.component {
  display: grid;
  grid-template-rows: auto 1fr 3.75rem;

  height: calc(100% - var(--spacing-unit) * 4.5);

  margin-top: calc(var(--spacing-unit) * 4.5);
  padding: 0 calc(var(--spacing-unit) * 5);
}

.scroll {
  position: relative;

  height: calc(100% - var(--spacing-unit) * 4.5 - var(--spacing-unit) * 3.75);
  margin-top: calc(var(--spacing-unit) * 4.5);
  margin-bottom: calc(var(--spacing-unit) * 3.75);

  overflow: hidden;
}

.list {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  position: absolute;
  left: 0;
  right: 0;
}

.footer {
  position: relative;

  display: grid;
  place-content: center;
}

.footer::before {
  position: absolute;
  left: calc(var(--spacing-unit) * -5);
  right: calc(var(--spacing-unit) * -5);
  content: "";

  display: block;
  height: 1px;

  background-color: rgba(var(--primary-black), 0.1);
}
