@use "../../helper/style/mixin";
@use "../../helper/style/media";

.component {
  position: relative;
}

.toggle {
  width: 100%;
}

.value {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  grid-column-gap: var(--spacing-unit);

  >img {
    background-color: rgba(var(--primary-black), 0.1);
    width: 1.5rem;
    height: 1.5rem;

    border-radius: 50%;
    overflow: hidden;
  }
}