@use "../../helper/style/mixin";
@use "../../helper/style/media";

.component {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "icon name toggle" "icon count toggle";
  grid-column-gap: calc(var(--spacing-unit) * 2);
  grid-row-gap: calc(var(--spacing-unit) * 0.4);
  justify-content: start;
  align-items: center;

  padding: calc(var(--spacing-unit) * 1.5) calc(var(--spacing-unit) * 2.5);

  border: 1px solid rgba(var(--primary-black), 0.8);
  border-radius: 0.5rem;
}

.component::before {
  position: relative;
  content: "";
  grid-area: icon;

  width: 2.25rem;
  height: 2.25rem;

  border-radius: 50%;

  background-color: rgba(var(--primary-black), 0.1);
  background-image: var(--icon);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
}

.name {
  grid-area: name;
}

.count {
  grid-area: count;
}

.toggle {
  grid-area: toggle;
}
