.font-40 {
  font-size: var(--headline-1);
  line-height: 1.3;
}

.font-28 {
  font-size: var(--headline-2);
  line-height: 1.3;
}

.font-18 {
  font-size: var(--body-1);
  line-height: 1.3;
}

.font-16 {
  font-size: var(--body-1);
  line-height: 1.4;
}

.font-12 {
  font-size: var(--caption);
  line-height: 1.25;
}
