.font-58 {
  font-size: var(--headline-1);
  line-height: var(--line-118);
}

.font-50 {
  font-size: var(--headline-2);
  line-height: var(--line-118);
}

.font-28 {
  font-size: var(--headline-3);
  line-height: var(--line-118);
}

.font-22 {
  font-size: var(--headline-4);
  line-height: var(--line-118);
}

.font-18 {
  font-size: var(--body-1);
  line-height: var(--line-140);
}

.font-16 {
  font-size: var(--body-2);
  line-height: var(--line-118);
}

.font-14 {
  font-size: var(--body-3);
  line-height: var(--line-118);
}
