@use "../../helper/style/mixin";
@use "../../helper/style/media";

.component {
  display: grid;
  align-content: center;

  padding-top: calc(var(--spacing-unit) * 6);
  padding-bottom: calc(var(--spacing-unit) * 4);

  box-sizing: border-box;

  background-color: rgba(var(--primary-black), 1);
}

.wrapper {
  justify-items: center;

  margin-top: calc(var(--header-height) * -1);
}

.withoutText {
  margin-top: 0;
}

.title {
  margin: 0;

  text-align: center;
}

.text {
  margin: 0;
  margin-top: calc(var(--spacing-unit) * 1.5);
  margin-bottom: calc(var(--spacing-unit) * 5);

  text-align: center;
}

.form {
  width: 100%;
}
