@use "../../helper/style/mixin";
@use "../../helper/style/media";

.component {
  display: flex;
  flex-direction: column;

  min-height: calc(100vh - var(--header-height) - 1px);
}

.search {
  height: auto;
}

.fullscreen {
  flex-grow: 1;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 14.5rem;
  grid-column-gap: calc(var(--spacing-unit) * 0.5);
}

.submit {
  width: calc(100% - var(--spacing-unit) * 1.5);
  margin-left: calc(var(--spacing-unit) * 1.5);
}

.result {
  flex-grow: 1;
  display: grid;
  grid-template-rows: 100%;

  padding: calc(var(--spacing-unit) * 6);
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: calc(var(--spacing-unit) * 3);

  margin: 0;
  margin-bottom: calc(var(--spacing-unit) * 2.5);
  padding: 0;

  list-style: none;
}

.pagination {
  margin-top: auto;
}
