@use "../../helper/style/mixin";
@use "../../helper/style/media";

.content {
  position: relative;

  display: grid;

  width: 100%;
  max-width: 41.25rem;
  margin: 0 auto;
  padding: calc(var(--spacing-unit) * 3) calc(var(--spacing-unit) * 7.5) calc(var(--spacing-unit) * 6);

  box-sizing: border-box;

  border-radius: 0.5rem;

  background-color: rgba(var(--primary-white), 1);
}

.close {
  --button-position: absolute;

  top: calc(var(--spacing-unit) * 3);
  right: calc(var(--spacing-unit) * 3);
}

.header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;

  margin-top: calc(var(--spacing-unit) * 2);
}

.title {
  margin: 0;
}

.list {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: calc(var(--spacing-unit) * 1.25);

  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation {
  display: grid;
  place-content: center;

  width: 2rem;
  height: 2rem;
  padding: 0;

  font-family: var(--primary-font);
  font-weight: var(--medium);
  font-size: var(--body-1);
  line-height: 1;
  color: rgba(var(--primary-black), 1);

  border-radius: 0.5rem;
  border: 1px solid rgba(var(--primary-black), 0.12);

  background-color: rgba(var(--primary-white), 1);

  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: all;

  cursor: pointer;

  &:not(:disabled):not(.active):hover,
  &:not(:disabled):not(.active):focus {
    color: rgba(var(--ocean-blue), 1);

    border-color: rgba(var(--primary-black), 1);
  }

  &:disabled {
    color: rgba(var(--primary-black), 0.2);

    cursor: initial;
  }

  &.active {
    color: rgba(var(--primary-black), 1);
  }
}

.body {
  margin-top: calc(var(--spacing-unit) * 6);
}
