@use "../../helper/style/mixin";
@use "../../helper/style/media";

.button {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: var(--primary-font);
  line-height: 1.2;
  text-decoration: none;

  border: 0;

  background-color: transparent;

  cursor: pointer;

  &:disabled {
    cursor: initial;
    pointer-events: none;
  }
}

.weight-regular {
  font-weight: var(--regular);
}

.weight-medium {
  font-weight: var(--medium);
}

.icon {
  position: relative;
}

.icon span {
  @include mixin.visuallyHidden();
}

.large {
  font-size: 1rem;
}

.medium {
  font-size: 0.8125rem;
}

.icon-medium svg {
  width: 1.375rem;
  height: 1.375rem;
}

.iconBefore-medium svg {
  width: 0.5rem;
  margin-right: 0.5rem;
}

.iconAfter-medium svg {
  width: 0.5rem;
  margin-left: 0.5rem;
}

.text {
  justify-content: start;

  padding: 0;
}

.contained {
  justify-content: center;

  padding: 0.625rem 1.5rem;

  box-sizing: border-box;
}

.contained-medium {
  min-height: 2.75rem;
  border-radius: 2rem;
}

.contained-large {
  min-height: 3.75rem;
  border-radius: 0.75rem;
}

.outlined {
  justify-content: center;

  padding: 0.625rem 1.5rem;

  box-sizing: border-box;
}

.outlined-medium {
  min-height: 2.75rem;
  border-radius: 2rem;
}

.outlined-large {
  min-height: 3.75rem;
  border-radius: 0.75rem;
}

.contained-primary-black {
  color: rgba(var(--primary-white), 1);

  background-color: rgba(var(--primary-black), 1);

  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: color, box-shadow, background-color;

  &:hover,
  &:focus,
  &.hover {
    color: rgba(var(--primary-black), 1);

    background-color: rgba(var(--primary-white), 1);

    box-shadow: inset 0 0 0 1px rgba(var(--primary-black), 1);
  }

  &:active,
  &.active {
    color: rgba(var(--primary-black), 0.8);

    background-color: rgba(var(--primary-white), 0.8);

    box-shadow: inset 0 0 0 1px rgba(var(--primary-black), 0.8);
  }
}

.contained-ocean-blue {
  color: rgba(var(--primary-white), 1);

  background-color: rgba(var(--ocean-blue), 1);

  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: background-image, opacity;

  &:hover,
  &:focus,
  &.hover {
    background-image: linear-gradient(360deg, rgb(255, 209, 139) 0%, rgba(255, 0, 0, 0) 50%), linear-gradient(259.57deg, rgb(38, 99, 255) 1.58%, rgb(255, 56, 40) 92.54%);
  }

  &:active,
  &.active {
    background-image: linear-gradient(360deg, rgb(255, 209, 139) 0%, rgba(255, 0, 0, 0) 50%), linear-gradient(259.57deg, rgb(38, 99, 255) 1.58%, rgb(255, 56, 40) 92.54%);

    opacity: 0.8;
  }
}

.outlined-primary-white {
  color: rgba(var(--primary-black), 1);

  background-color: rgba(var(--primary-white), 1);

  box-shadow: inset 0 0 0 1px rgba(var(--primary-black), 1);

  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: color, background-image, opacity, box-shadow;

  &:hover,
  &:focus,
  &.hover {
    color: rgba(var(--primary-white), 1);

    background-image: linear-gradient(360deg, rgb(255, 209, 139) 0%, rgba(255, 0, 0, 0) 50%), linear-gradient(259.57deg, rgb(38, 99, 255) 1.58%, rgb(255, 56, 40) 92.54%);

    box-shadow: none;
  }

  &:active,
  &.active {
    color: rgba(var(--primary-white), 1);

    background-image: linear-gradient(360deg, rgb(255, 209, 139) 0%, rgba(255, 0, 0, 0) 50%), linear-gradient(259.57deg, rgb(38, 99, 255) 1.58%, rgb(255, 56, 40) 92.54%);

    box-shadow: none;

    opacity: 0.8;
  }
}

.text-primary-black {
  color: rgba(var(--primary-black), 1);

  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: color;

  &:hover,
  &:focus,
  &.hover {
    color: rgba(var(--primary-black), 0.6);
  }

  &:active,
  &.active {
    color: rgba(var(--primary-black), 0.8);
  }
}

.text-dark-grey {
  color: rgba(var(--primary-black), 0.6);

  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: color;

  &:hover,
  &:focus,
  &.hover {
    color: rgba(var(--primary-black), 1);
  }

  &:active,
  &.active {
    color: rgba(var(--primary-black), 0.8);
  }
}

.text-light-grey {
  color: rgba(var(--primary-black), 0.4);

  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: color;

  &:hover,
  &:focus,
  &.hover {
    color: rgba(var(--primary-black), 1);
  }

  &:active,
  &.active {
    color: rgba(var(--primary-black), 0.8);
  }
}
