@use "../../helper/style/mixin";
@use "../../helper/style/media";

.form {
  display: grid;
}

.label:not(:first-child) {
  margin-top: calc(var(--spacing-unit) * 5);
}

.link {
  --text-decoration: underline;

  margin-top: calc(var(--spacing-unit) * 3.5);
}

.submit {
  margin-top: calc(var(--spacing-unit) * 4.5);
}
