.component {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: calc(var(--spacing-unit) * 1);
  justify-content: start;
  align-content: center;
}

.small {
  grid-column-gap: calc(var(--spacing-unit) * 0.75);
}

.small>img {
  width: 0.875rem;
  height: 0.875rem;
  vertical-align: top;
}