.component {
  display: grid;

  padding: calc(var(--spacing-unit) * 5) 0;
  min-height: calc(100vh - var(--header-height) - 1px);

  box-sizing: border-box;
}

.wrapper {
  position: relative;
  display: grid;
  align-content: flex-start;

  padding: calc(var(--spacing-unit) * 7.5) calc(var(--spacing-unit) * 14.5);

  border-radius: 0.5rem;
  background-color: rgba(var(--primary-white), 1);
}

.navigation {
  position: absolute;
  top: calc(var(--spacing-unit) * 5);
  left: calc(var(--spacing-unit) * 6.5);
  right: calc(var(--spacing-unit) * 6.5);

  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  margin-bottom: calc(var(--spacing-unit) * 5);

  text-align: center;
}

.alert {
  display: grid;

  margin-bottom: calc(var(--spacing-unit) * 4);
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  border-radius: 0.5rem;

  background-color: #F7F7F7;
}

.info {
  padding: calc(var(--spacing-unit) * 5) calc(var(--spacing-unit) * 7.5);

  box-sizing: border-box;
}

.list:not(:first-of-type) {
  margin-top: calc(var(--spacing-unit) * 4);
}

.progress {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: var(--spacing-unit);
  grid-row-gap: calc(var(--spacing-unit) * 2);
  align-items: center;
  justify-content: space-between;

  margin-top: calc(var(--spacing-unit) * 5);
}

.progressCaption {
  margin: 0;
}

.bar {
  grid-column: -1/1;
}

.copy svg {
  width: 13.5px;
  margin-top: -2px;

  color: rgba(var(--primary-black), 0.3);
}

.action {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: calc(var(--spacing-unit) * 4);
  padding: calc(var(--spacing-unit) * 4.5) calc(var(--spacing-unit) * 7.5);

  box-sizing: border-box;

  border-radius: 0.5rem;
  border: 1px solid rgba(var(--primary-black), 0.1);

  background-color: rgba(var(--primary-white), 1);
}

.header {
  display: grid;
  grid-row-gap: calc(var(--spacing-unit) * 1.5);
  justify-items: center;

  padding-bottom: calc(var(--spacing-unit) * 3);

  border-bottom: 1px solid rgba(var(--primary-black), 0.1);
}

.actionTitle {
  margin: 0;
}
