@use "../../helper/style/mixin";
@use "../../helper/style/media";

.component {
  display: flex;
  flex-direction: column;

  min-height: calc(100vh - var(--header-height) - 1px);
}

.search {
  position: sticky;
  top: var(--header-height);
  z-index: 10;

  height: 8.75rem;

  transition-timing-function: linear;
  transition-duration: 350ms;
  transition-property: height;
}

.fullscreen {
  height: calc(100vh - var(--header-height) - 1px);
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 14.5rem;
  grid-column-gap: calc(var(--spacing-unit) * 0.5);
}

.submit {
  width: calc(100% - var(--spacing-unit) * 1.5);
  margin-left: calc(var(--spacing-unit) * 1.5);
}

.result {
  padding: calc(var(--spacing-unit) * 6);
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: calc(var(--spacing-unit) * 3);

  margin: 0;
  padding: 0;

  list-style: none;
}
