html {
  //weight
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  //sizes

  --headline-1: 2.5rem;
  --headline-2: 1.75rem;
  --headline-3: 1.125rem;
  --body-1: 1rem;
  --caption: 0.75rem;

  //font

  --primary-font: "Helvetica Neue", sans-serif;
  --secondary-font: "Graphik", sans-serif;

  //colors

  --primary-white: 255, 255, 255;
  --primary-black: 0, 0, 0;
  --ocean-blue: 38, 99, 255;
  --success: 45, 171, 80;  // green
  --warning: 255,199,0;  // yellow
  --process: 75, 112, 255;  // blue
  --error: 255, 0, 0;  // rec
  --coming: 255, 0, 0;  // red

  //grid

  --spacing-unit: 0.5rem;
  --max-width: 100rem;
  --small-gutters: 1rem;
  --gutters: 6rem;
  --grid: 100%;

  // card
  
  --governance-card-width: 25rem;

  //input

  --field-height: 3.75rem;
  --field-padding: 0.5rem 1.25rem;

  //header

  --header-height: 5rem;

  //button

  --button-position: relative;
  --text-decoration: none;

  //breakpoints

  --breakpoint-xxs: 360px;
  --breakpoint-xs: 410px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1350px;

  @media (min-width: 1024px) {
    --small-gutters: 2.75rem;
    --gutters: 6rem;
  }
}
