html {
  //weight
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  //sizes

  --headline-1: 2.5rem;
  --headline-2: 1.75rem;
  --headline-3: 1.125rem;
  --body-1: 1rem;
  --caption: 0.75rem;

  //font

  --primary-font: "Helvetica Neue", sans-serif;
  --secondary-font: "Graphik", sans-serif;

  //colors

  --primary-white: 255, 255, 255;
  --primary-black: 0, 0, 0;

  //grid

  --spacing-unit: 0.5rem;
  --max-width: 1440px;
  --small-gutters: 1.5rem;
  --gutters: 1rem;
  --grid: 100%;

  //header

  --header-height: 5rem;

  //breakpoints

  --breakpoint-xxs: 360px;
  --breakpoint-xs: 410px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1350px;
}
