@use "../../helper/style/mixin";
@use "../../helper/style/media";

.component {
  display: grid;
  grid-template-columns: repeat(var(--count), 1fr);
  justify-content: start;
  align-items: center;

  padding-top: var(--spacing-unit);
}
