.component {
  position: relative;
}

.field {
  position: relative;

  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  width: 100%;
  height: var(--field-height);
  padding: var(--field-padding);

  font-family: var(--primary-font);
  font-weight: var(--regular);
  font-size: var(--body-1);
  color: rgba(var(--primary-black), 0.5);

  border: 1px solid rgba(var(--primary-black), 0.1);
  border-radius: 0.5rem;

  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: color, border-color;

  cursor: pointer;
}

.value {
  color: rgba(var(--primary-black), 1);
}

.focus {
  border: 1px solid rgba(var(--primary-black), 0.4);
}

.wrapper {
  position: relative;

  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: height;
}

.dropdown {
  position: absolute;
  top: calc(var(--spacing-unit) * 0.5);
  z-index: 20;

  display: grid;
  width: calc(var(--dropdown-width));

  opacity: 0;

  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: all;

  pointer-events: none;
  visibility: hidden;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.visible {
  opacity: 1;

  pointer-events: all;
  visibility: visible;
}
