@use "../../helper/style/mixin";
@use "../../helper/style/media";

.component {

}

.month {
  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--gap);
  justify-items: center;
  align-items: center;

  margin-top: calc(var(--spacing-unit) * 3);
  padding: 0 calc(var(--spacing-unit) * 1.5);
}

.switch {
  --button-position: absolute;
  top: 50%;

  transform: translateY(-50%);
}

.prev {
  left: calc(var(--spacing-unit) * 1.5);
}

.next {
  right: calc(var(--spacing-unit) * 1.5);
}

.monthDisplay {
  margin: 0;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--gap);
  justify-items: center;

  margin-top: calc(var(--spacing-unit) * 1.5);
}

.titles {
  margin-bottom: calc(var(--spacing-unit) * 2.5);
}
