@use "../../helper/style/mixin";
@use "../../helper/style/media";

.component {
  display: grid;
}

.list {
  display: grid;
  grid-template-columns: repeat(7, 2rem);
  justify-items: start;

  margin: 0;
  padding: 0;

  list-style: none;
}
