@use "../../helper/style/mixin";
@use "../../helper/style/media";

.component {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: calc(var(--spacing-unit) * 1.5);
  align-items: center;

  min-height: var(--field-height);
  padding: var(--field-padding);

  box-sizing: border-box;

  font-family: var(--primary-font);
  font-size: var(--body-1);
  font-weight: var(--regular);
  color: rgba(var(--primary-black), 1);
  text-align: left;

  border: 1px solid rgba(var(--primary-black), 0.1);
  border-radius: 0.875rem;

  background-color: rgba(var(--primary-white), 1);

  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: border-color;

  cursor: pointer;

  &:hover,
  #{mixin.$when-focus-rings-enabled} &:focus,
  &.focus {
    border: 1px solid rgba(var(--primary-black), 0.4);
  }
}

.errorState {
  border: 1px solid rgba(var(--error), 1);
}

.placeholder {
  color: rgba(var(--primary-black), 0.5);
}

.error {
  position: relative;
}

.error span {
  position: absolute;
  top: calc(var(--spacing-unit) * 1.5);

  color: rgba(var(--error), 1);
}
