@use "../../helper/style/mixin";
@use "../../helper/style/media";

.component {
  display: grid;
  place-content: center;

  min-height: calc(100vh - var(--header-height) - 1px);

  background-color: rgba(var(--primary-white), 1);
}

.wrapper {
  justify-items: center;
}

.title {
  margin: 0;
}

.text {
  margin: 0;
  margin-top: calc(var(--spacing-unit) * 2);
}

.button {
  margin: 0;
  margin-top: calc(var(--spacing-unit) * 3);
}
