@use "../../helper/style/mixin";
@use "../../helper/style/media";

.component {
  display: grid;
  grid-row-gap: calc(var(--spacing-unit) * 4);
  align-content: start;

  min-height: calc(100vh - var(--header-height));
  padding: calc(var(--spacing-unit) * 6.5) 0;

  box-sizing: border-box;

  background-color: rgba(var(--primary-white), 1);
}

.header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: grid;
  grid-template-areas: "icon connect" "icon address";
  grid-row-gap: 6px;
  grid-column-gap: calc(var(--spacing-unit) * 2.5);
  align-items: center;
}

.info::before {
  grid-area: icon;
  position: relative;
  content: "";

  display: block;
  width: 4.25rem;
  height: 4.25rem;

  border-radius: 50%;

  background-image: url("./assets/icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.connect {
  grid-area: connect;
}

.copy {
  grid-area: address;

  font-family: var(--primary-font);
  font-weight: var(--medium);
  font-size: 1.25rem;
}

.copy svg {
  width: 20px;
  color: rgba(var(--primary-black), 0.3);
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: calc(var(--spacing-unit) * 2);
}

.alert {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  grid-column-gap: 0.5rem;

  min-height: 3.75rem;
  margin-top: calc(var(--spacing-unit) * 5);
  padding: 0 1.25rem;

  box-sizing: border-box;

  border: 1px solid rgba(var(--primary-black), 0.5);
  border-radius: 0.5rem;

  background-color: #F7F7F7;
}

.alertBold {
  font-weight: var(--bold);
}

.alertText {
  display: inline-flex;
  align-items: center;
}

.alertLink {
  margin-left: 0.25rem;
  font-size: inherit;
  line-height: inherit;
  color: inherit;

  text-decoration: underline;
}

.tabs {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-column-gap: 2.5rem;

  width: 100%;
  margin-top: calc(var(--spacing-unit) * 5);

  border-bottom: 1px solid rgba(var(--primary-black), 0.1);
}

.tab {
  position: relative;

  padding: 0.875rem 0;

  font-size: 1rem;
  color: rgba(var(--primary-black), 1);

  opacity: 0.3;

  transition-timing-function: linear;
  transition-property: opacity;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.active {
  opacity: 1;
}

.active::before {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  content: "";

  display: block;
  width: 100%;
  height: 2px;

  background-color: rgba(var(--primary-black), 1);
}

.filters {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;

  padding-top: 0.5rem;
  padding-bottom: 2.25rem;
}

.label {
  position: relative;

  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1.5rem;
}

.label input {
  @include mixin.visuallyHidden();
}

.toggle {
  display: grid;
  place-content: center;

  font-family: var(--primary-font);
  font-weight: var(--bold);
  font-size: 1rem;
  color: rgba(var(--primary-black), 0.3);

  min-height: 2.75rem;
}

.checked {
  padding: 0 1rem;

  color: rgba(var(--primary-white), 1);

  border-radius: 3.125rem;

  background-color: rgba(var(--primary-black), 1);
}

.select {
  min-width: 10rem;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: calc(var(--spacing-unit) * 3);

  margin: 0;
  margin-bottom: calc(var(--spacing-unit) * 2.5);
  padding: 0;

  list-style: none;
}

.head {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: var(--spacing-unit);

  height: 2.75rem;

  border-radius: 0.5rem;

  background-color: #F3F3F3;
}

.cell {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-content: center;
}

.cell:first-child {
  padding-left: calc(var(--spacing-unit) * 2.5);
}

.cell:last-child {
  padding-right: calc(var(--spacing-unit) * 2.5);
}

.cellId {
  text-decoration: underline;
}

.cellEvent {
  grid-column-gap: 10px;
  align-items: center;
}

.cellEvent::before {
  position: relative;
  content: "";

  display: block;
  width: 12px;
  height: 12px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cellCreated::before {
  background-image: url("./assets/create.svg");
}

.cellClaim::before {
  background-image: url("./assets/claim.svg");
}

.cellBid::before {
  background-image: url("./assets/bid.svg");
}

.cellBuy::before {
  background-image: url("./assets/sell.svg");
}

.cellSell::before {
  background-image: url("./assets/sell.svg");
}

.body {
  margin: 0;
  margin-bottom: calc(var(--spacing-unit) * 2.5);
  padding: 0;

  list-style: none;
}

.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: var(--spacing-unit);

  height: 5rem;

  border-bottom: 1px solid rgba(var(--primary-black), 0.1);
}

.pagination {
  margin-top: auto;
}

.cellAmount {
  color: rgba(var(--primary-black), 0.4);
}
