@use "../../helper/style/mixin";
@use "../../helper/style/media";

.component {
	display: flex;
	flex-direction: column;

	min-height: calc(100vh - var(--header-height) - 1px);
}

.result {
	flex-grow: 1;
	display: grid;
	grid-template-rows: 100%;

	padding: calc(var(--spacing-unit) * 6);
}

.list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--governance-card-width), 1fr));
	grid-gap: calc(var(--spacing-unit) * 3);

	margin: 0;
	margin-bottom: calc(var(--spacing-unit) * 2.5);
	padding: 0;

	list-style: none;
}

.pagination {
	margin-top: auto;
}
