@use "../helper/style/mixin";
@use "../helper/style/media";

.component {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.header {
  position: sticky;
  top: 0;
  z-index: 20;
}

.main {
  position: relative;
  flex-grow: 1;
}

.mobile {
  @include mixin.from(media.$md) {
    display: none;
  }
}

.desktop {
  @include mixin.until(media.$md) {
    display: none;
  }
}
