@use "../helper/style/mixin";
@use "../helper/style/media";

.component {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.header {
  position: sticky;
  top: 0;
  z-index: 20;
}

.main {
  position: relative;
  flex-grow: 1;
}

.vector {
  position: fixed;
  bottom: 3%;
  right: 3%;
  z-index: 99999;
  width: 40px;
  height: 40px;
}

.mobile {
  @include mixin.from(media.$lg) {
    display: none;
  }
}

.desktop {
  @include mixin.until(media.$lg) {
    // display: none;
  }
}